<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCart Test Suite" parallel="tests" thread-count="2">

    <!-- Configured for Parallel Execution. You can change browser values to 'firefox' or 'edge' -->
    <test name="Valid Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ValidLoginTest"/>
        </classes>
    </test>

    <test name="Invalid Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.InvalidLoginTest"/>
        </classes>
    </test>

</suite>
